* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: #2a2d3c;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 70vh;
}

.container .title-box {
    color: #f0f0f0;
    padding: 1rem;
}

.container .container-box {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container .btn-box {
    width: 100%;
    padding: 0.5rem;
}

.container .btn-box #btn-ca {
    width: 100%;
    background: #6760fb;
    border-radius: 0.4rem;
    padding: 0.8rem;
    cursor: pointer;
    color: #f0f0f0;
}

.container .btn-box #btn-re {
    width: 100%;
    background: none;
    border: 1px solid #f0f0f0;
    color: #f0f0f0;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 0.4rem;
}